@mixin title-bar {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.56px;
    text-align: left;
    color: #ffffff;
    margin: 0;
    @include mq("mobile") {
        font-size: 25px;
    }
}

// responsive mixin
@mixin mq($width: "mobile") {
    @if ($width == "mobile") {
      @media (max-width: 590px) {
        @content
      }
    } @else if ($width == "tablet") {
      @media (max-width: 992px) {
        @content
      }
    } @else if ($width == "large") {
      @media (max-width: 1200px) {
        @content
      }
    }
  }

@mixin add-gutter($size) {
    margin-right: -$size;
    margin-left: -$size;

    > [class*="col-"] {
        padding-right: $size;
        padding-left: $size;
        margin-bottom: $size * 2;
    }
}

