<img src="https://via.placeholder.com/640x480.png/0088ff?text=qui" class="img-fluid rounded-sm w-100"
    alt="Body Work Content">
<div class="pt-5">
    Molestias in cum non voluptatum non. Quia dolorum similique odio quae sed mollitia rerum id. Sed
    autem dolores nihil et minus. Magni consequatur nam et quos eaque. Sapiente impedit nisi
    aspernatur odio doloremque qui dicta. Magnam modi illo molestiae rerum eum. Quia sed aut
    voluptate illo tenetur nisi qui esse. Porro dolor et laudantium quam eius. Laboriosam
    consequatur dolor quidem error id eaque labore. Dignissimos sint iure similique harum magni
    consequatur. Qui qui explicabo fugiat. Corporis totam maxime culpa id rerum. Repudiandae sed
    soluta est vel quia incidunt. Nesciunt provident quod accusamus quia quaerat quas libero. Quae
    ipsa unde est iste quaerat mollitia qui. Non dolor est fugit velit quas vero. Error quidem et
    sapiente. Minima quo nihil delectus. Error quidem accusamus in impedit necessitatibus quia.
</div>
<p class="pt-5 header">About The Author</p>
<hr class="mb-4 line">
<div class="card mb-4">
    <div class="row no-gutters mx-1 long-text">
        <div class="col-md-2">
            <img src="images/johndoe.png" class="img-fluid px-2 py-3 w-100" alt="John Doe">
        </div>
        <div class="col-md-10">
            <div class="card-body mx-1">
                <h5 class="card-title JohnsHeader"> Hailey Bechtelar</h5>
                <p class="card-text JohnBlogDesc">Maiores unde vitae totam ut eos odio.</p>
            </div>
        </div>
    </div>
</div>
