<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="about-us">
                <p style="margin-bottom: 0; font-family: 'Roboto'; font-size: 26px; color:#292662; font-weight: bold; ">
                    CONTACT US</p>
                <hr style=" margin-top: 0; color: #FEE200; border: 1px solid #FEE200; opacity: 1;">
                <p>Good Returns is published by Tarawera Publishing Ltd. All material is copyright. To republish
                    material from this site please contact the editor on editor@goodreturns.co.nz.
                    <br> <br>
                    Good Returns is designed to be a one-stop information shop for financial planners, investment
                    advisers, and other professionals selling investment and risk products, plus it will appeal to
                    sophisticated retail investors.
                    <br> <br>
                    The site aims to deliver accurate, unbiased editorial providing news, views and statistical data
                    on investment advice and financial planning, markets, life insurance, taxation, mortgages and
                    banking. For more information email the editor: editor@goodreturns.co.nz.</p>
            </div>
            <div class="forminfo"><h4>Please use this page to contact Good Returns</h4>
                <p>For the most accurate and timely responsive we highly recommend using the form below</p>

                <form>
                    <div class="form-group row mb-3">
                        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control form-control-sm"
                                                      style="width: 50%;"></div>

                    </div>

                    <div class="form-group row mb-3">
                        <label for="organisation"
                               class="col-sm-2 col-form-label col-form-label-sm">Organisation:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm"
                                                      style="width: 50%;">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="position" class="col-sm-2 col-form-label col-form-label-sm">Position:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control form-control-sm"
                                                      style="width: 50%;">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="email" class="col-sm-2 col-form-label col-form-label-sm">E-Mail:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control form-control-sm"
                                                      id="email" style="width: 50%;">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Contact Phone:</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control form-control form-control-sm"
                                                      id="phone" name="phone" style="width: 33%;">
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label for="messagetop" class="col-sm-2 col-form-label col-form-label-sm">Message
                            topic:</label>
                        <div class="col-sm-10">
                            <select class="form-select form-select-sm" id="messagetop"
                                                       style="width: 30%;">
                                <option selected>-- please select --</option>
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                            </select></div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="messagearea" class="col-sm-2 col-form-label col-form-label-sm">Message
                            text:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control form-control-sm" id="messagearea" rows="3"
                                      style="width: 55%;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="checkbox-info">
                <p>We highly value the opinions of our readers. Please help us to continue to deliver the best in
                    news, views and opinion by answering this section. Thank you.</p>
                <p>Sections of the site you visit most often:</p>
                <form>
                    <div class="form-check form-check-inline mb-3 col-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">News</label>
                    </div>
                    <div class="form-check form-check-inline mb-3 col-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Mortgage news</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Investments</label>
                    </div>
                    <br>

                    <div class="form-check form-check-inline mb-3 col-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox4">People</label>
                    </div>
                    <div class="form-check form-check-inline mb-3 col-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                        <label class="form-check-label" for="inlineCheckbox5">Special report</label>
                    </div>
                    <div class="form-check form-check-inline mb-3">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                        <label class="form-check-label" for="inlineCheckbox6">Diary</label>
                    </div>
                    <br>

                    <div class="form-check form-check-inline mb-3 col-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
                        <label class="form-check-label" for="inlineCheckbox7">Blog</label>
                    </div>
                    <div class="form-check form-check-inline col-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
                        <label class="form-check-label" for="inlineCheckbox8">Job listings</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
                        <label class="form-check-label" for="inlineCheckbox9">Bookstore</label>
                    </div>
                    <br>

                    <div class="form-check form-check-inline mb-3 col-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
                        <label class="form-check-label" for="inlineCheckbox10">The markets</label>
                    </div>
                    <div class="form-check form-check-inline col-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
                        <label class="form-check-label" for="inlineCheckbox11">Good Returns financial planner of the
                            year</label>
                    </div>
                    <div class="form-check form-check-inline col-auto">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
                        <label class="form-check-label" for="inlineCheckbox12">Mortgage rates</label>
                    </div>
                    <br>

                    <div class="form-check form-check-inline col-2">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
                        <label class="form-check-label" for="inlineCheckbox13">Insurance news</label>
                    </div>
                    <div class="form-check form-check-inline col-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14">
                        <label class="form-check-label" for="inlineCheckbox14">Find and adviser</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option15">
                        <label class="form-check-label" for="inlineCheckbox15">Useful sites</label>
                    </div>

                    <div class="form-group row mb-3">
                        <p>What type of pages/section would you like to see implemented on the Good Returns
                            site?</p>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="messagearea" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div><input class="btn btn-outline-dark" type="submit" value="Send form"></div>
        </div>

        <div class="col-md-4">
            <div class="row" style="margin-top: 0.6rem;">
                <aside>
                    
                   
                </aside>
            </div>
        </div>
    </div>
</div>