<section class="mt-5" style="background-color: #292662">
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 firstLogo">
                <img class="pt-4 px-3 img-fluid" src="images/footerimg.png" alt="Good Returns Logo">
                <p class="px-3 pt-4 footerP">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
            <div class="col-md-3 pt-4 px-5 firstLogo">
                <p class="header footerHeader">Categories</p>
                <hr class="line">
                <div>
                    <ul class="CategoriesFooter px-1">
                        <li class='pt-1'><a href="">
                                News
                            </a>
                        </li>
                        <li class='pt-2'>
                            <a href="">People</a>
                        </li>
                        <li class='pt-2'>
                            <a href="">Events</a>
                        </li>
                        <li class='pt-2'>
                            <a href="">Mortgages</a>
                        </li>
                        <li class='pt-2'>
                            <a href="">Insurance</a>
                        </li>
                        <li class='pt-2'>
                            <a href="">Invenstments</a>
                        </li>
                        <li class='pt-2'>
                            <a href="">Blogs</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 pt-4 px-5 firstLogo ">
                <p class="header footerHeader">Browse</p>
                <hr class="line">
                <div class=" d-flex justify-content-between">
                    <div class="linksFooter">
                        <ul class="px-1">
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li class="pt-2">
                                <a href="">Advertise</a>
                            </li>
                            <li class="pt-2">
                                <a href="">RSS Feeds</a>
                            </li>
                            <li class="pt-2">
                                <a href="">Letters</a>
                            </li>
                            <li class="pt-2">
                                <a href="">Archive</a>
                            </li>
                        </ul>
                    </div>
                    <div class="linksFooter">
                        <ul>
                            <li>
                                <a href="">Terms & Conditions</a>
                            </li>
                            <li class="pt-2">
                                <a href="">Privacy Policy</a>
                            </li>
                            <li class="pt-2">
                                <a href="">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pt-4 pb-3 firstLogo">
                <p class="header footerHeader">Contact</p>
                <hr class="line">
                <p class="linksFooter">0800 000 00 00</p>
                <p class="linksFooter">info@goodretuns.co.nz</p>
                <p class="pt-4 header footerHeader">Follow</p>
                <hr class="line">
                <div class="">
                    <img src="images/footerfb.png" alt="FaceBook Icon">
                    <img class="px-3" src="images/footertw.png" alt=" Twitter Icon">
                    <img src="images/footerin.png" alt="Linkedin Icon">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid info">
    <div class="text-center py-3 footer-copyright">© Copyright 1997-2022 Tarawera Publishing Ltd. All Rights Reserved
    </div>
</div>


</body>

</html>