<h4>Add Job Vacancies</h4>
<hr>
<div class="forms">
    <form>
        <div class="form-group row">
            <label class="col-3 col-form-label">Job Title : </label>
            <div class="col-9">
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Location : </label>
            <div class="col-9">
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Start Date : <br>
                <p><small>YYYY/MM/DD</small></p>
            </label>
            <div class="col-9">
                <input type="date" name="date" class="form-control w-50">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Category : </label>
            <div class="col-9">
                <select class="form-control">
                    <option>-- please select --</option>
                    <option>Job</option>
                </select>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Job Details : </label>
            <div class="col-9">
                <textarea class="form-control desc-field">
            </textarea>
            </div>
        </div>
        <h5 class="pt-4">Billing Information</h5>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Name : </label>
            <div class="col-9">
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Company : </label>
            <div class="col-9">
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Postal Address : </label>
            <div class="col-9">
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Email : </label>
            <div class="col-9">
                <input type="text" name="email" class="form-control">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Phone : </label>
            <div class="col-9">
                <input type="number" name="email" class="form-control w-50">
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-3 col-form-label">Fax : </label>
            <div class="col-9">
                <input type="number" name="email" class="form-control w-50">
            </div>
        </div>
    </form>
</div>
<div class="bottom-desc pt-5">
    <p>
        Once you click submit this ad will be queud for the <a class="p-underline">Good Returns Jobline website.</a>
        We willemail you when this ad is live.
    </p>
    <p>
        You will be billed $150 + gst per month and contacted when your listing is due to expire.
    </p>
    <p>
        If you have any questions please <a class="p-underline">Contact Us</a>
        or call 07-349 1920.
    </p>
    <button class="buttton">
        <p>Submit</p>
    </button>
</div>
