<h4 class="BodyHeader">Group Relationships Manager
</h4>
<div class="d-flex">
    <p class="Location">Location</p>
    <p class="px-5 Flex"><b>Flexible</b></p>
</div>
<div class="content">
    <p>
        The Milestone Joint Venture is an unincorporated joint venture of independently owned
        financial advice practices with operations based in Auckland, Hawke’s Bay, Christchurch,
        Timaru and Queenstown. The joint venture operates a shared services arrangement which
        allows the individual practices, known as the ‘Core’, to benefit from scale and
        efficiency by pooling resources, buying power and knowledge. Across the Core, we provide
        advice on wealth management, KiwiSaver, insurance and mortgages.
    </p>
    <p>
        Outside the Core, we also provide access to investment, research, marketing and
        compliance services to other IFAs (external independent financial advice practices)
        throughout New Zealand.
    </p>
    <p>
        The location of this role can be flexible, but with a preference to operate out of one
        of our existing offices (Hastings, Christchurch, Timaru, or Queenstown) – and an
        expectation of travel nationally to other offices.
    </p>
    <p>
        The Group Relationships Manager will lead, manage and grow all aspects of the joint
        venture offering. This will be a part time role, of 0.5 full time equivalent.
    </p>
    <p>
        The successful candidate will hold/demonstrate the following:
    </p>
    <p>
        Education: <br>
        Tertiary qualification in business or finance.
    </p>
    <p>
        Experience: <br>
        Experience in a senior management role. <br>
        Extensive experience within Australasian financial advice industry.
    </p>
    <p>
        Attributes:
        Operational focus. <br>
        An ability to deliver. <br>
        Strong network within the NZ financial advice and funds management community.
        Excellent written and verbal presentation skills.
        Proven track record of driving and managing business process within an organisation.
        Highly motivated, achievement-oriented and innovative professional
    </p>
    <p>
        Interested candidates please forward your CV to the Milestone JV chair at
        Darren.hull@milestone.co.nz
    </p>
    <div class="d-flex">
        <p class="tag pt-3">TAGS</p>
        <div class="mileStone mx-4 mt-3">
            <p class="pt-1">Milestone</p>
        </div>
    </div>
</div>
