<div class="d-flex justify-content-between pt-5 left-body-content-header">
    <h4>Job Vacancies</h4>
    <p><a href="/job-form.php">Post a Job</a></p>
</div>
<hr>
<div>
    <h3 class="pt-3"><a href="job">Group Relationships Manager</a></h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>Flexible</b></p>
        <br>
    </div>
    <br>
    <p class="more-p"><b>More Detail</b></p>
    <h3 class="pt-3">Financial Advisers - Insurance & Mortgage</h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>North Shore, Auckland</b></p>
        <br>
    </div>
    <br>
    <p class="more-p"><b>More Detail</b></p>
    <h3 class="pt-3">Group Relationships Manager </h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>Flexible</b></p>
        <br>
    </div>
    <br>
    <p><b>More Detail</b></p>
    <h3 class="pt-3">Financial Advisers - Insurance & Mortgage</h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>North Shore, Auckland</b></p>
        <br>
    </div>
    <br>
    <p><b>More Detail</b></p>
    <h3 class="pt-3">Group Relationships Manager</h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>Flexible</b></p>
        <br>
    </div>
    <br>
    <p class="more-p"><b>More Detail</b></p>
    <h3>Financial Advisers - Insurance & Mortgage</h3>
    <hr>
    <div class="d-flex">
        <p>Location</p>
        <p class="px-5 pb"><b>North Shore, Auckland</b></p>
        <br>
    </div>
    <br>
    <p class="more-p"><b>More Detail</b></p>
    <h3 class="pt-3">Looking to hire ?</h3>
    <hr>
    <div class="d-flex">
        <p class="more-p"><b>More Detail</b></p>
        <br>
    </div>
    <br>
</div>