<section class="top-bar">
    <div class="container small">
        <div class="row">
            <div class="col">
                <a class="me-2" href="https://tmmonline.nz">tmmonline.nz</a>|
                <a class="ms-2" href="https://www.landlords.co.nz">landlords.co.nz</a>
            </div>
            <div class="col">
                <ul class="top-menu list-unstyled m-0 d-flex">
                    <li><a class="me-2" href="/about">About <i>Good Returns</i></a>|</li>
                    <li><a class="ms-2 me-2" href="/advertise">Advertise</a>|</li>
                    <li><a class="ms-2 me-2" href="contact.php">Contact Us</a>|</li>
                    <li><a class="ms-2 me-2" href="/terms">Terms &amp; Conditions</a>|</li>
                    <li><a class="ms-2" href="/rss">RSS Feeds</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Navigation -->
<section style="background-color: #292662">
    <!-- Footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 firstLogo">
                <a href="index.htm"><img src="images/logo.png" alt="Good Returns Logo"></a>
            </div>
            <div class="col-md-8 topRightbar">
                <div class="mt-5 mx-auto d-none d-md-flex topAd">
                    <img src="images/ads.svg" class="mx-auto align-self-center" alt="Google Ads Alanı">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="navBack mb-3 mb-md-5">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav links ">
                    <a class="nav-link active" href="#">News</a>
                    <a class="nav-link" href="#">People</a>
                    <a class="nav-link" href="#">Events</a>
                    <a class="nav-link" href="#">Mortgages</a>
                    <a class="nav-link" href="#">Insurance</a>
                    <a class="nav-link" href="#">Invenstments</a>
                    <a class="nav-link" href="#">Blogs</a>
                    <a class="nav-link" href="#">Special Reports</a>
                </div>
            </div>
            <a href="#/"><img src="images/vector.png" alt="Search"></a>
        </nav>
    </div>
</section>
