<h4>People</h4>
<hr style="border: 1px solid #FEE200; opacity: 1;">

<div class="mainimg"><img class="img-fluid" src="images/people-main.png" width="800" alt=""></div>

<h5 class="mt-3">Is health insurance still fit-for-purpose? The debate over mental health cover</h5>

<p>Insurance market players have hit back at claims in a recent Consumer magazine article that lambasted the <br>
    industry for “unfair” practices and slammed mental health exclusions in insurance policies as a sign of
    “systemic <br> failure in the insurance market which could amount to discrimination on the grounds of mental
    health”.</p>


<div class="row">
    <div class="col">
        <div class="card1 d-flex">
            <img src="images/a.png" height="150" alt="">

            <div class="cardtext ms-2">
                <h5>Cigna pays 93% of <br> claims</h5>
                <p>Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum
                    has been the industry's <br> standard dummy text ever since the <br> 1500s,</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card2 d-flex"> <img src="images/b.png" alt="" height="150">
            <div class="cardtext ms-2">
                <h5>Cigna pays 93% of <br> claims</h5>
                <p>Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum
                    has been the industry's <br> standard dummy text ever since the <br> 1500s,</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card3 d-flex">
            <img src="images/c.png" alt="" height="150">
            <div class="cardtext ms-2">
                <h5>Cigna pays 93% of <br> claims</h5>
                <p>Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum
                    has been the industry's <br> standard dummy text ever since the <br> 1500s,</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card4 d-flex">
            <img src="images/d.png" alt="" height="150">
            <div class="cardtext ms-2">
                <h5>Cigna pays 93% of <br> claims</h5>
                <p>Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry. <br> Lorem Ipsum
                    has been the industry's <br> standard dummy text ever since the <br> 1500s,</p>
            </div>
        </div>
    </div>
</div>
