<div class="firstparagraph">
    <h4 style="color: #292662; font-weight: bold;">NZ shares fall as Ryman drops 7%</h4>

    <p>
        Commerce Minister David Clark will be the keynote speaker at
        the Mindful Money Awards and Ethical Investment conference to
        be held in Auckland on June 28. The event will run from 3.30 -
        7.30pm. Dr. Clark is the Minister for Commerce and Consumer
        Affairs, with responsibility for finance and the financial
        regulator, the Financial Authority.
    </p>

    <div class="author">
        <h6 style="display: inline">John Doe</h6>

        <p style="display: inline; padding-left: 0.5rem">
            Thursday, May 12th 2022, 6:30PM
        </p>
    </div>
</div>

<div class="row">
    <div class="col p-0">
        <div class="mainimg mt-3  px-4">
            <img src="images/apple.png" width="370" alt="">
        </div>
    </div>
    <div class="col">
        <p>
        </p>
        <p>The S&amp;P/NZX 50 Index fell 10.5 points, or 0.1%, to
            11,157.66. Turnover was $104 million. </p>
        <p>With more stocks up
            than down, the benchmark index may have risen today were it
            not for confirmation that Ryman Healthcare would be dropped
            from the MSCI Standard Index at the end of the month. </p>
        <p>Shares
            in the aged care provider dropped 7.8% to $8.66, with 9.9m
            shares changing hands as investors reacted to the news. </p>
        <p> Forsyth Barr estimated index tracking funds would sell $232m
            worth of shares because of its exclusion. </p>
        <p> Active investors
            often try to pre-position themselves ahead of these events,
            sometimes selling shares in the hope of buying back at a
            cheaper price when the passive funds sell.o feel the stock
            was looking cheap. Macquarie Equities analyst, Nick Mar gave
            it an .</p>
        <p></p>
    </div>
</div>

<div class="textbox" style="margin-top: 2rem">
    <p>
    </p>
    <p> The S&amp;P/NZX 50 Index fell 10.5 points, or 0.1%, to 11,157.66.
        Turnover was $104 million.</p>
    <p> With more stocks up than down, the
        benchmark index may have risen today were it not for
        confirmation that Ryman Healthcare would be dropped from the
        MSCI Standard Index at the end of the month.</p>
    <p>Shares in the
        aged care provider dropped 7.8% to $8.66, with 9.9m shares
        changing hands as investors reacted to the news.</p>
    <p> Forsyth Barr
        estimated index tracking funds would sell $232m worth of
        shares because of its exclusion.</p>
    <p>Active investors often try to
        pre-position themselves ahead of these events, sometimes
        selling shares in the hope of buying back at a cheaper price
        when the passive funds sell.o feel the stock was looking
        cheap. Macquarie Equities analyst, Nick Mar gave it an .Shares
        in the aged care provider dropped 7.8% to $8.66, with 9.9m
        shares changing hands as investors reacted to the news.</p>
    <p> Forsyth Barr estimated index tracking funds would sell $232m
        worth of shares because of its exclusion. </p>
    <p>Active investors
        often try to pre-position themselves ahead of these events,
        sometimes selling shares in the hope of buying back at a
        cheaper price when the passive funds sell.o feel the stock was
        looking cheap. Macquarie Equities analyst, Nick Mar gave it an
        .Shares in the aged care provider dropped 7.8% to $8.66, with
        9.9m shares changing hands as investors reacted to the news.</p>
    <p> Forsyth Barr estimated index tracking funds would sell $232m
        worth of shares because of its exclusion.</p>
    <p>Active investors
        often try to pre-position themselves ahead of these events,
        sometimes selling shares in the hope of buying back at a
        cheaper price when the passive funds sell.o feel the stock was
        looking cheap. Macquarie Equities analyst, Nick Mar gave it an
        .Shares in the aged care provider dropped 7.8% to $8.66, with
        9.9m shares changing hands as investors reacted to the news.</p>
    <p>Forsyth Barr estimated index tracking funds would sell $232m
        worth of shares because of its exclusion.</p>
    <p>Active investors
        often try to pre-position themselves ahead of these events,
        sometimes selling shares in the hope of buying back at a
        cheaper price when the passive funds sell.o feel the stock was
        looking cheap. Macquarie Equities analyst, Nick Mar gave it an
        .Shares in the aged care provider dropped 7.8% to $8.66, with
        9.9m shares changing hands as investors reacted to the news.</p>
    <p>Forsyth Barr estimated index tracking funds would sell $232m
        worth of shares because of its exclusion.</p>
    <p>Active investors
        often try to pre-position themselves ahead of these events,
        sometimes selling shares in the hope of buying back at a
        cheaper price when the passive funds sell.o feel the stock was
        looking cheap. Macquarie Equities analyst, Nick Mar gave it an
        .</p>
    <p></p>
</div>

<div class="links">
    <div class="tag"><a style="text-decoration: underline;" href="#">TAGS</a></div>

    <div class="mint">
        <p>Mint Asset Management</p>
    </div>

</div>

<hr style="border: 1px solid #fee200; opacity: 1">

<div class="orientation">
    <div class="row">
        <div class="col"> <img src="images/left.png" alt="">
            <a href="#">Magellan appoints new CEO</a>
        </div>
        <div class="col"><a class="ms-5 ps-5 " href="#">Another key appointment at Mosaic</a>
            <img src="images/right.png" alt="">
        </div>
    </div>

</div>
