<p class="pt-5 header">Releated Articles</p>
<hr class="line">
<div class="row pb-5 pt-4">
    <div class="col-md-3 pb-3">
        <div>
            <img class="card-img-top w-100" src="images/vine.png" alt="Vine content">
            <div class="card-body">
                <h5 class="card-title">Should we have simpler..</h5>
                <p class="pt-3"><small> <b>John Doe</b> </small></p>
                <p class=""><small class="text-muted">Thursday, May 12th 2022, 6:30PM</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 bottomads">
        <div class="card-body">
            <img class="mx-auto d-block pt-5 w-75" src="images/ads.svg" alt="Card image cap">
        </div>
    </div>
    <div class="col-md-3 pb-3">
        <div class="">
            <img class="card-img-top w-100" src="images/coin.png" alt="Coin İmage">
            <div class="card-body">
                <h5 class="card-title">Cigna pays 93% of claims</h5>
                <p class="pt-3"><small> <b>John Doe</b> </small></p>
                <p class=""><small class="text-muted">Thursday, May 12th 2022, 6:30PM</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 pb-3">
        <div class="">
            <img class="card-img-top w-100" src="images/kiwi.png" alt="Content İmage">
            <div class="card-body">
                <h5 class="card-title">Sale of Kiwi Insurance to...</h5>
                <p class="pt-3"><small> <b>John Doe</b> </small></p>
                <p class=""><small class="text-muted">Thursday, May 12th 2022, 6:30PM</small></p>
            </div>
        </div>
    </div>
</div>
