<div class="job mt-5 mb-0">
    <h6><b>Job Listing</b></h6>
    <hr style="border: 1px solid #fee200; opacity: 1">

    <div class="job1">
        <img src="images/people.png" alt="">
        <div class="joba d-inline"><a class="d-inline ms-2 " href="">Group Relationships Manager</a></div>

        <div class="address" style="padding-left: 2rem">
            <p>Flexible</p>
        </div>
    </div>

    <div class="job2">
        <img src="images/people.png" alt="">
        <div class="joba d-inline"><a class="d-inline ms-2 " href="">Mortgage Adviser</a></div>

        <div class="address " style="padding-left: 2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="job3">
        <img src="images/people.png" alt="">
        <div class="joba d-inline"><a class="d-inline ms-2 " href="">Risk Adviser</a></div>
        <div class="address" style="padding-left: 2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="job4">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Financial Advisers - Insurance &amp; Mortgage</a>
        <div class="address" style="padding-left: 2rem">
            <p>North Shore, Auckland</p>
        </div>
    </div>

    <div class="job5">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">Mortgage Adviser</a>

        <div class="address" style="padding-left: 2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="job6">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Group Relationships Manager
        </a>
        <div class="address" style="padding-left: 2rem">
            <p>Flexible</p>
        </div>
    </div>

    <div class="job7">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Mortgage Adviser
        </a>
        <div class="address" style="padding-left: 2.2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="job8">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">Risk Adviser</a>
        <div class="address" style="padding-left: 2.2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="job9">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Financial Advisers - Insurance &amp; Mortgage</a>
        <div class="address" style="padding-left: 2rem">
            <p>North Shore, Auckland</p>
        </div>
    </div>

    <div class="job10">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Mortgage Adviser
        </a>
        <div class="address" style="padding-left: 2rem">
            <p>Auckland</p>
        </div>
    </div>

    <div class="hiread" style="padding-top: 1rem">
        <img src="images/people.png" alt="">
        <a class="d-inline ms-2 " href="">
            Looking to hire?
        </a>
    </div>

    <div class="more ms-4 mt-3" style="padding-left: 0.5rem;">
        <a href="#">
            <h5><b>MORE JOBS</b></h5>
        </a>
    </div>
</div>
