<h4 style="margin-bottom: 0;">Key Contacts</h4>
<hr style="margin-top: 0; color: #FEE200; border: 1px solid #FEE200; opacity: 1;">

<div class="contact1">
    <img src="/images/icon-people.png" alt="">
    <b style="padding-left: 0.75rem;">Philip Macalister - Publisher</b>
    <div class="mail" style="padding-left: 2.2rem;"><a href="#">philip@goodreturns.co.nz</a>
    </div>
</div>

<div class="contact2" style="padding-top:1rem;">
    <img src="/images/icon-people.png" alt="">
    <b style="padding-left: 0.75rem;">Sarah Smith - Ad agency enquiries</b>
    <div class="mail" style="padding-left: 2.2rem;"><a href="#">info@goodreturns.co.nz</a></div>
</div>

<div class="contact3" style="padding-top:1rem;">
    <img src="/images/icon-people.png" alt="">
    <b style="padding-left: 0.75rem;">Office Manager</b>
    <div class="mail" style="padding-left: 2.2rem;"><a href="#">info@goodreturns.co.nz</a></div>
</div>

<div class="contact4" style="padding-top:1rem;">
    <img src="/images/icon-people.png" alt="">
    <b style="padding-left: 0.75rem;">Bookstore enquiries</b>
    <div class="mail" style="padding-left: 2.2rem;"><a href="#">books@goodreturns.co.nz</a>
    </div>
</div>

<div class="contact5" style="padding-top:1rem;">
    <img src="/images/icon-people.png" alt="">
    <b style="padding-left: 0.75rem;">Editorial enquiries</b>
    <div class="mail" style="padding-left: 2.2rem;"><a href="#">editor@goodreturns.co.nz</a>
    </div>
</div>
