<div class="pt-5">
    <h5 class="twocontent">Latest Comments</h5>
    <hr class="line">
    <ul class="list-group">
        <li class="d-flex">
            <div class="image-parent">
                <img src="images/pop.png" class="img-fluid" alt="Pop">
            </div>
            <p class="px-2 bitesDesc"><b class="flint">Flint Wealth gets responsible</b></p>
        </li>
        <p class="px-4">
            <small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum
                laborum...</small>
        </p>
        <li class="d-flex">
            <div class="image-parent">
                <img src="images/pop.png" alt="Pop">
            </div>
            <p class="px-2 bitesDesc"><b class="flint">Flint Wealth gets responsible</b></p>
        </li>
        <p class="small px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum...</p>

        <li class="d-flex">
            <div class="image-parent">
                <img src="images/pop.png" alt="Pop">
            </div>
            <p class="px-2 bitesDesc"><b class="flint">Flint Wealth gets responsible</b></p>
        </li>
        <p class="small px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum...</p>
    </ul>
</div>
