<div class="pt-4 bottom-right-content">
    <h4 class="pt-3">News Bites</h4>
    <hr>
    <ul class="list-group">
        <li class="d-flex">
            <div class="image-parent">
                <img src="/images/gazette.svg" class="img-fluid" alt="Header Content Logo">
            </div>
            <p class="px-2 bitesDesc">Flint Wealth gets responsible</p>
        <li class="d-flex">
            <div class="image-parent">
                <img src="/images/gazette.svg" class="img-fluid" alt="Header Content Logo">
            </div>
            <p class="px-2 bitesDesc">Magellan continues to bleed funds</p>

        <li class="d-flex">
            <div class="image-parent">
                <img src="/images/gazette.svg" alt="Header Content Logo">
            </div>
            <p class="px-2 bitesDesc">Strategi Institute gains Tertiary Education Commission Board
                approval to support on-job training</p>
    </ul>
    <h5 class="px-4">MORE NEWS BITES</h5>
</div>