<div class="postal-phone" style="margin-top: 1.2rem; margin-bottom: 0;">
    <h4 style="margin-bottom: 0;">Postal & Phone</h4>
    <hr style="margin-top: 0; color: #FEE200; border: 1px solid #FEE200; opacity: 1;">

    <div class="address">
        <img src="/images/icon-home.png" alt="">
        <b style="padding-left: 0.75rem;">Address</b>
        <div class="addinfo" style="padding-left: 2.2rem; font-weight: 599; font-size:12px;">
            Tarawera Publishing Limited <br>
            1448a Hinemoa Street <br>
            Rotorua 3010 <br>
            New Zealand
        </div>
    </div>

    <div class="phone" style="padding-top: 1rem;">
        <img src="/images/icon-phone.png" alt="">
        <b style="padding-left: 0.75rem;">Phone</b>
        <div class="phoneinfo" style="padding-left: 2.2rem; font-weight: 599; font-size:12px;">
            <a href="#">+64 7 349 1920</a>
        </div>
    </div>

    <div class="fax" style="padding-top: 1rem;">
        <img src="/images/icon-fax.png" alt="">
        <b style="padding-left: 0.75rem;">Fax</b>
        <div class="faxinfo" style="padding-left: 2.2rem; font-weight: 599; font-size:12px;"><a href="#">+64 7 349
                1926</a></div>
    </div>

    <div class="mobile" style="padding-top: 1rem;">
        <img src="/images/icon-mobile.png" alt="">
        <b style="padding-left: 0.75rem;">Mobile</b>
        <div class="mobileinfo" style="padding-left: 2.2rem; font-weight: 599; font-size:12px;">
            <a href="#">+64 274 377-527</a>
        </div>
    </div>
</div>
