<section class="container home-category">
    <div class="section-title">
        <h2>Regulation</h2>
        <hr class="line">
    </div>

    <div class="cat-news mb-4">
        <div class="row">
            <div class="col-md-3">
                <div class="ad-frame d-flex justify-content-center align-items-center h-100">
                    <img class="img-fluid" src="images/image_ad_.png" alt="ad">
                </div>
            </div>


            <div class="col col-md-3">
                <img id="img" src="https://via.placeholder.com/640x480.png/00dd22?text=vero" width="300" height="200"
                    class="img-fluid rounded-sm mb-2" alt/="">
                <h4 class="story-title"><a
                        href="article/regulation/dolores-occaecati-consequatur-fugit-enim-non-distinctio-iure-alias.html">Dolores
                        occaecati consequatur fugit enim non distinctio iure alias.</a></h4>
            </div>


            <div class="col col-md-3">
                <img id="img" src="https://via.placeholder.com/640x480.png/004466?text=dolore" width="300" height="200"
                    class="img-fluid rounded-sm mb-2" alt/="">
                <h4 class="story-title"><a href="article/regulation/alias-enim-odit-aut-iure-inventore.html">Alias enim
                        odit aut iure inventore.</a></h4>
            </div>


            <div class="col col-md-3">
                <img id="img" src="https://via.placeholder.com/640x480.png/005599?text=quaerat" width="300" height="200"
                    class="img-fluid rounded-sm mb-2" alt/="">
                <h4 class="story-title"><a
                        href="article/regulation/provident-explicabo-id-omnis-odit-eveniet-doloremque.html">Provident
                        explicabo id omnis odit eveniet doloremque.</a></h4>
            </div>

        </div>
    </div>
</section>
