<section class="container mb-4">
    <div class="section-title">
        <h2>Sponsored Content</h2>
        <hr class="line">
    </div>
    <div>
        <div class="card  sponsorcontent ">
            <img class="card-img-top w-100 sponsorimg " src="https://via.placeholder.com/640x480.png/00dd22?text=vero" alt="">
            <div class="card-body">
              <h5 class="card-title">Advertorial: Ut nisi illum qui.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, porro sint. Totam iste autem rerum ea nisi deserunt maiores! Quo.</p>
              <br>
              <small class="">Learn More</small>
              <br>
              <small>Download the white paper and see how</small>
            </div>
          </div>
    </div>
</section>