<section class="container mb-4">
    <div class="section-title">
        <h2>Sponsored Content</h2>
        <hr class="line">
    </div>
    <div class="border-gray p-3">
        <div class="sponsored-block">
            <div class="row">
                <div class="col-md-5">
                    <img src="https://via.placeholder.com/500x150.png/00bb33?text=sponsored" alt="" width="500" height="150" class="img-fluid rounded-sm">
                </div>
                <div class="col-md-7">
                    <h2 class="story-title">Advertorial : Ut nisi illum qui.</h2>
                    <p class="story-desc">
                        Repellat excepturi voluptatem animi quos nihil. Dolorem aut fuga est. Dolor ullam est perspiciatis exercitationem optio delectus. Expedita ipsam quia aut commodi reprehenderit eos.
                    </p>
                    <p class="learn-more">
                        Learn More
                    </p>
                    <p class="download-paper">Download the white paper and see how</p>
                </div>
            </div>
        </div>
    </div>
</section>