<section class="container mb-4">

    <div class="row" id="subtitle">
        <div class="col-md-5">
            <img src="https://via.placeholder.com/640x480.png/0088ff?text=qui" alt="" width="850" height="450"
                class="img-fluid rounded-sm">
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <h2 class="story-title"><a href="article.php">Lower returns for longer; Advisers will have to
                                work harder</a></h2>
                        <p class="story-desc">Hailey Bechtelar</p>
                        <span class="story-date">
                            16 Jun 2022
                        </span>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="story-title"><a href="article.php">Ipsa doloribus inventore vel provident dicta
                            soluta.</a></h3>
                    <p class="story-desc">Hillary O&#039;Reilly</p>
                    <span class="story-date">
                        16 Jun 2022
                    </span>
                </div>
                <div class="col-md-4">
                    <h3 class="story-title"><a href="article.php">Harum aut ipsum nulla quia.</a></h3>
                    <p class="story-desc">Mrs. Rosalia McGlynn</p>
                    <span class="story-date">
                        16 Jun 2022
                    </span>
                </div>
                <div class="col-md-4">
                    <h3 class="story-title"><a href="article.php">Voluptates est libero ut quae exercitationem
                            eligendi.</a></h3>
                    <p class="story-desc">Hillary O&#039;Reilly</p>
                    <span class="story-date">
                        16 Jun 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
